@import url(https://fonts.googleapis.com/css?family=Roboto|Titan+One);

body {
  background:#e9e08c;
  align-content: center;
}

h1 {
font-family: 'Titan One', cursive;
color: green;
}

p {
  font-family: 'Roboto', san-serif;
  font-weight: bold;
  }
.menu {
  font-family: 'Roboto', san-serif;
  font-weight: bold;
  font-size: 125%;
  }
.eaten {
  font-weight: bold;
  color: white;
  background: green;
  }
li {
  padding: 5px;
  margin: 5px;
  background: #93c56a;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: #e2ad68;
}

.form-group {
  margin-bottom: 5px;
}
